# Ignore all hidden files (dotfiles)
.*
# But keep Git and version-control metadata
!.gitignore
!.gitattributes
!.gitkeep

ggmd-storm-topology/target
ggmd-storm-listner/target
ggmd-storm-stream/target